
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<h1>ResetPasswordConfirmation</h1>
<h2>Your Password have been resetted successfully , please visit login <a asp-action="Login">Login</a></h2>
